doctype html

head(lang='en')
  title morse-runner
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href="/index.css")

body
  #cr-stage
  #inputArea

script(src='/index.js')
