doctype html

head(lang='en')
  title morse-runner
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href="/index.css")

body
  #cr-stage
  #inputContainer
    #inputArea
      p#info create a level with your own message!
      input#input(type=text)
      p#status.status
      p#more
        a(href="https://en.wikipedia.org/wiki/Morse_code") learn more about Morse code
  #msgArea
  #credits made by
    a(href="htps://bdeshi.space") sammay

script(src='/index.js')
