 @font-face
   font-family ___
   font-style normal
   src url(OldComputerManualMonospaced-KmlZ.ttf)
*
  font-family ___, monospace
body
  padding 12px
  margin 0px
  background #aaa
#inputArea, #msgArea
  display none
  background #DDFF92
  text-align center
  transition: display 0.5s
#msgArea
  height 100px
  font-size 80px
  border-radius 0 0 20px 20px
  border-top 2px solid rgba(50, 50, 50, 0.5)
#inputContainer
  display none
  position absolute
  top 12px
  left 12px
  z-index 40
  background #DDFF92
#inputArea
  color #7d6d7d
  font-size 35px
  padding 20px
  padding-top 60px
  // height 100%
  #input
    width 55%
    font-size 35px
    border #defc00 2px dashed
    border-radius 4px
    box-sizing border-box
    background white
  .status
    color #FD6060
    padding 10px
  .success, .success a
    color #6050FD
    font-size 35px
  #more
    font-size 15px

#credits
  display none
  font-style italic
  font-size 8px
  text-align right
  margin 10px 0
